* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "DM Serif Display", serif;
  }
  
  /*-----------------header--------------------- */
  header {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    background-position: center;
    background-size: cover;
    height: auto;
    /* background-image: url("images.jpeg"); */
    height: auto;
  }
  
  .logo {
    background-image: url("LOGO.png");
    color: white;
    font-size: 50px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    margin: 10px auto;
    padding-top: 2%;
  }
  
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  li a {
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all .5s ease;
  }
  li a:hover {
    background-color: white;
    color: purple;
    box-shadow: 0 0 10px white;

  }
  
  .head-container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
  }
  
  .head-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4%;
    text-align: center;
    height: 80vh;
  }
  
  .head-para {
    font-size: 20px;
  }
  h1 {
    color: white;
    font-size: 70px;
  }
  p {
    color: white;
  }
  
  .head-btn {
    width: 15%;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 20px;
    font: bold;
  }
  
  .head-btn:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
    box-shadow: 0 0 10px white;
    font-weight: bold;
  }
  
  /* -------------------- about-me-section ---------------------------*/
  
  .about-me {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    background-position: center;
    background-size: cover;
    height: auto;
    color: white;
    /* background-image: url(""); */
  }
  h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    text-decoration: underline; 
  }
  .about-me-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    /* text-align: center; */
  }
  
  .about-text {
    width: 50%;
  }
  
  .about-para {
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 1100px;
    right: 600px;
    width: 50%;
    letter-spacing: 3px;
    font-size: 25px;
  }
  
  .img-portfolio {
  align-self: center;
    width: 30%;
  }
  
  /* -------------------- Portfolio ---------------------------*/
  .stacks {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    height: 100vh;
  }
  
  .portfolio-head {
    text-align: center;
    font-size: 50px;
    margin-top: 5%;
    text-decoration: underline;
    color: rgba(244, 230, 230, 0.895);
    padding-top: 5%;
  }
   .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
  }
  .gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
  }
  /* -------------------- contact ---------------------------*/
  .contact {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    background-position: center;
    background-size: cover;
    height: auto;
  }
  
  .contact-container {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    margin-top: 3%;
    height: 200px;
  }
  
  .get-in-touch-head {
    font-size: 30px;
    /* width: 50%; */
  }
  
  .get-in-touch-para {
    width: 100%;
  }
  
  /* Form section */
  .form-container {
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    background-color: rgb(19, 16, 84);
    margin-top: 5%;
  }
  
  .contact-p {
    /* color: purple; */
    /* margin-top: 3%; */
    text-align: center;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    margin-top:2%;
  }
  
  form {
    padding: 4%;
  }
  
  .form-t {
    color: white;
  }
  .form-control {
    display: flex;
    flex-direction: column;
  }
  .form-control input {
    width: 100%;
    height: 30px;
    border: none;
  }
  
  .form-message {
    display: flex;
    flex-direction: column;
  }
  .form-message input {
    width: 100%;
    height: 100px;
    border: none;
  }
  
  .form-btn {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font: bold;
    margin-top: 5%;
  }
  
  .form-btn:hover {
    background-color: purple;
    color: white;
  }
  
  footer {
    background-color: rgb(19, 16, 84);
    height: 20vh;
    margin-top: 10%;
  }
  
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 3%;
  }
  
  .footer-icons {
    display: flex;
    align-items: center;
    gap: 4%;
  }
  
  .contact-header {
    color: yellow;
  }
  